.homepage-container {
    background: url("../../../assets/carhd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

.homepage-container .heroText{
    width: 49%;
    position: absolute;
    right: 0;
    bottom: 30vh;
}

.homepage-container p{
    font-size: 55px;
    font-weight: bold;
    font-family: 'Sansita Swashed', cursive;;
    color: #fff;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

.homepage-container p:last-child{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 73%;
    text-shadow: none;
    font-weight: 500;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 40px;
    line-height: 27px;
}