.map {
  padding: 0 100px;
  display: flex;
}

.map .left {
  width: 50%;
}

.map .left img {
  width: 100%;
  object-fit: contain;
}

.map .right {
  width: 50%;
  padding: 50px 100px;
  display: flex;
  align-items: center;
}

.map .right ul {
  display: flex;
  flex-direction: column;
}

.map .right ul li {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
}
